


<template>
  <div class="container">
      <div class="panel-group">
        <div class="panel panel-default">
      <div class="panel-heading"> Dashbord</div>
   

     <div class="row">

        <div class="col-lg-6">
            <div class="panel panel-default">
             <div class="panel-heading">Resultat</div>
                <!--form>
                    <label class="checkbox-inline">
                      <input type="checkbox" value="">innevarande
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" value="">föregående
                    </label>               
               </form-->                
                    <!-- <legend>Line Graph </legend> -->
               <canvas id="line-chart" chart="type: line;  should-update: true; data.bind: simpleLineData ;  native-options.bind:options;" ></canvas>   
           </div>
        </div> <!--col chart-->   
    
  <div class="col-lg-6">
      <div class="panel panel-default">
          <div class="panel-heading">    
           Nånting 
        </div>   
      </div>     
    </div>
 </div> <!--row -->
              
    <div class="row">
        
        <div class="col-lg-6 ">
          
            <div class="panel panel-default" style="padding:15px;">
                <div class="panel-heading"> Översikt</div>
                   
                    <div class="row vdivide">
                      <div class="col-sm-6 text-center "style="padding-right:0px;padding-left:0px;border-right:1px solid rgb(216, 212, 212);border-bottom:1px solid rgb(216, 212, 212);">
                         <!--div class="forfallna"-->
                         <p><a href="" target="_blank"> Förfallna kundfakturor</a></p>
                         <p ><h3 class = "h">8</h3></p>       
                          </div> <!--sm col6-->
                         
                          <div class="col-sm-6 text-center" style="border-bottom:1px solid rgb(216, 212, 212);">
                          <a href="" target="_blank"> Nya Bankhändelser att bokföra</a>
                          <p><h3>11</h3></p>
                          </div>
                    </div>
                    
                    
                    <div class="row vdivide">
                      <div class="col-sm-6 text-center "> 
                       
                         <p><a href="" target="_blank">Förfallna leverantörsfakturor</a></p>
                         <p><h3>3</h3></p>
                        </div>
                       
                      <div class="col-sm-6 text-center "style="border-left:1px solid rgb(216, 212, 212);">
                          <!--div class="part4"--> 
                              <p><a href="" target="_blank">Förfallna </a></p>
                              <p><h3>3</h3></p> 
                           
                     
                    </div>
                   </div>
               
            </div>
                  
         </div> <!--col lg6-->  



        <div class="col-lg-6 ">
            <div class="panel panel-default">
                <div class="panel-heading">                  
                   Att göra                   
                </div>             
            </div>
         </div>
        
      </div> <!--second row-->   
     </div>
   </div> <!--panel group"-->
  </div> <!-- container"-->
</template>













    <!-- <div> abort.trigger="<form>
        <label class="checkbox-inline">
          <input type="checkbox" value="">innevarande
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" value="">föregående
        </label>               
      </form>     
    </div>

  <fieldset>
      <legend>Line Graph </legend>
      <canvas id="line-chart" chart="type: line; should-update: true; data.bind: simpleLineData" style="width:80%; height:80%; display:block;"></canvas>
      
      
  </fieldset>

      < <p>Both charts are using the same dataset behind the scenes, so changing one will change both.</p>
      <p>Changing the above value should trigger a chart refresh after 2 seconds</p>
      <p>Although dynamically added entries will not be tracked currently</p> -->
      <!-- <button click.delegate="addEntry()">Add Entry</button>
      <button click.delegate="resetPieData()">Reset</button> -->

