// .row.vdivid [class*='col-']:not(:last-child):after {
//   background: #c9c7c7;
 
//   width: 2px;
//   content: "";
//   display:block;
//   position: absolute;
//   top:3px;
//   bottom:3px;
//   right: 0;
//   min-height: 70px;
  
// }

.vdivide {
  display: flex;
  align-items: center;
   float:none;  

}

.container{
  background-color:rgb(207, 207, 207);
}

//bigger row
.bigger {
  background-color:rgb(207, 207, 207);
}

.panel{
  border:3px solid rgb(207, 207, 207);
}

.panel-default>.panel-heading {
  color:rgb(158, 155, 155);
  background-color:white;
}
.vdivide {
  display: flex;
  //align-items: center;
  justify-content: center;
   //float:none;  
  
}

 a{
  color:black;
  font-size:12px;
}
h3 { 
   
  color: rgb(96, 155, 202);}

  .details {
  color:rgb(158, 155, 155);
  font-size:12px;
  }
 