// .row.vdivid [class*='col-']:not(:last-child):after {
//   background: #c9c7c7;
 
//   width: 2px;
//   content: "";
//   display:block;
//   position: absolute;
//   top:3px;
//   bottom:3px;
//   right: 0;
//   min-height: 70px;
  
// }





.container{
  background-color:rgb(207, 207, 207);
}

// row
.wrapper {
  background-color:rgb(207, 207, 207);
}

.panel{
  border:3px solid rgb(207, 207, 207);
}

.panel-default>.panel-heading {

  background-color:white;
}
.vdivide {
  display: flex;
  //align-items: center;
  justify-content: center;
   //float:none;

}

 a{
  color:black;
  font-size:12px;
}
h3 {

  color: rgb(96, 155, 202);}

  .details {
  color:rgb(158, 155, 155);
  font-size:12px;
  }

 .notice { color: rgb(233, 15, 15);}

